// output:../../index.html, pretty: true

doctype html
html
    head
        title Sample Website
        link(type="text/css" rel="stylesheet" href="css/index.min.css")
        link(type="text/css" rel="stylesheet" href="css/index.css")
        link(type="text/css" rel="stylesheet" href="css/highlight/styles/ir-black.css")
    
    body
        .bg-1
        .bg-2
        .bg-3

        div#homepage
            header
                nav#top
                    img(src="./img/sketchy_name.png")
                    include ../includes/social-header.jade
                    //- .nav-links
                        //- each val in ['homepage', 'about', 'designs', 'code']
                            //- a(class="nav-#{val}" onclick="scrollTo('#{val}')")=val
                    .menu-btn-container
                        include ../includes/menu-btn.jade
                    
            footer
                h1 Prof & Personal Websites
                span.left <
                span.right >
                figure.rockwallfcm
                    i(class="fa fa-search fa-3")
                    img(src='./img/websites/rockwall-fcm.png')
                    figcaption Rockwall <b>FCM</b>
                
                figure.amishfurniture
                    i(class="fa fa-search fa-3")
                    img(src='./img/websites/amish-furniture.png')
                    figcaption Amish <b>Furniture</b>
                
                figure.forbiddentruth
                    i(class="fa fa-search fa-3")
                    img(src='./img/websites/forbidden-truth.png')
                    figcaption Forbidden <b>Truth</b>
                    
                figure.clocksnthings
                    i(class="fa fa-search fa-3")
                    img(src='./img/websites/clocks-n-things.png')
                    figcaption Clocks-<b>N</b>-Things
            //- .guitar
        div.push
            
        //- include ../includes/lorem-ipsum.jade
        
        //highlight.js
        script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js")

        //font awesome icon set
        script(src='https://use.fontawesome.com/02b2bc5fda.js')
            
        //jQuery plugins
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
            
        //main scripts
        script(src="js/source.js")
