p Web dev geek from Dallas, TX with a B.S. in Computer Science from Harding University.
p Pursuing UI/UX opportunities. Open for relocation.
p Enjoys french press coffee, disc golf, acoustic guitar, and deep discussion.
