// out: ../../css/index.min.css

@import 'response.scss';
@import 'paper.scss';
@import 'typed.scss';

/*basic reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}

/*preventing certain elements from using their default border/bg styles*/
form, input, textarea, table, button, select, optgroup, option {
	font: inherit; color: inherit; background: transparent;
}

html, body {height: 100%;}

//alignment mixins
@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//general mixins
@mixin color($bgcolor, $color) {
	background-color: $bgcolor;
	color: $color;
}
@mixin font($family, $size, $weight) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
}
@mixin outline($color) {
	-webkit-text-stroke: 1px $color;
}
@mixin size($width, $height) {
	width: $width;
	height: $height;
}

//wireframe mixins
@mixin wireframe {
	background: hsla(0, 0%, 0%, .4);
}

//sticky mixins
@mixin surface($stickyheight) { // for adding stickies
	min-height: 100%;
	margin: 0 auto -$stickyheight;
}
@mixin push($height) {
	height: $height;
}
@mixin sticky($height) {
	position: relative;
	margin-top: -$height;
	height: $height;
	clear:both;
}

//background mixins
@mixin cover($url) {
	background: url($url) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

//mixin to prevent highlighting
@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
									not supported by any browser */
}

//transformation mixins
@mixin transform($t) {
    -ms-transform: $t; /* IE 9 */
    -webkit-transform: $t; /* Chrome, Safari, Opera */
    transform: $t;
}
@mixin transition($delay) {
	-o-transition: $delay;
	-ms-transition: $delay;
	-moz-transition: $delay;
	-webkit-transition: $delay;
	transition: $delay;
}
@mixin filter($filter) {
	-webkit-filter: $filter;
			filter: $filter;
}

//animation mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @-ms-keyframes #{$name} {
    @content
  }
  @-o-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}
@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  -ms-animation: $value;
  -o-animation: $value;
  animation: $value;
}
@include keyframes(boom) {
   25% { @include transform(scale(1.25));}
}

//color varables
$bg-color: black;
$social-cols: (
	'github': #800080,
	'facebook': #3b5999,
	'linkedin': #0077B5,
	'paper-plane': #09b83e
);

//webpage background
.bg {
	@include size(100%, 100vh);
	background: url('../img/prev/desk_photo_2.jpeg') no-repeat center center fixed;
	opacity: .5;
	position: fixed;
}

//native html element styles
html, pre, code, .code-container {
	::-webkit-scrollbar {
    	display: none;
	}
}

article, header, aside, section, footer {
	@include noselect;
	display: block;
}

aside {
	@include respond-to-plus('medium') {
		@include size(45%, calc(100vh - 150px));
		@include transition(0.5s);
		overflow: hidden;
		display: flex;
		text-align: center;
		justify-content: left;
		float: left;
	}
	@include respond-to-minus('small') {
		@include size(0,0);
		visibility: hidden;
		* { visibility: hidden; }
	}
}
aside.right {
	float: right;
	h1 {
		font-family: 'Source Code Pro';
		font-size: 25px;
		color: white;
		text-transform: lowercase;
		margin-bottom: 20px;
	}
	div {
		@include size(90%, 350px);
		@include color(black, white);
		align-self: center;
		text-align: center;
		padding: 20px;
	}
	p.technologies {
		img {
			@include size(50px, 50px);
			@include general_spacing;
		}
	}
	p.project_desc {
		font-family: 'Source Code Pro';
		font-size: 13px;
	}
}

//headers
h1 { @include font('Sketchy', 40px, bolder);
	text-transform: uppercase;
	text-align: center;
	width: 100%; }
h2 { @include font('Delius', 20px, bolder); }

//navigation
nav#top {
	@include shared {
		@include filter(brightness(0.8));
		@include color(white, black);
		@include size(100%, 75px);
		@include paper(0.9);
		position: absolute; top: 0; left: 0;
		//img { @include size(400px, 0px); }
	}

	@include respond-to-plus('medium') {
		font-family: 'Delius';
		font-weight: 10;
		line-height: 100px;
		.nav-links {
			position: absolute;
			left: 500px;
			a {
				opacity: .5;
				margin-left: 30px;
				margin-right: 30px;
				&:hover {
					opacity: 1;
					cursor: pointer;
					font-weight: 900;
				}
			}
		}
		img {
			position: absolute;
			top: 10px; left: 0;
		}
		.menu-square { visibility: hidden; }
		.menu-btn-container { visibility: hidden; }
	}
	@include respond-to-minus('small') {
		.nav-links a { visibility: hidden; }
		.menu-square {
			@include vertical-align;
			cursor: pointer;
			visibility: visible; opacity: .5;
			&:hover { opacity: 1; }
		}
		.menu-btn-container {
			@include size(100%, 75px)
			@include color(black, white);
			visibility: visible;
		}
	}
	.header-social-container {
		@include shared {
			@include center;
			position: absolute;
			text-align: center;
			vertical-align: middle;
			z-index: 200;
		}

		@include respond-to-plus('medium') {
			top: 0px; right: 0px;
			.fa { @include size(60px, 32px);
			line-height: 30px; }
		}

		@include respond-to-minus('small') {
			& {
				@include size(100%, 75px);
				margin-top: 10px;
				background-color: black;
			}
			.fa {
				@include size(25%, 75px);
				line-height: 75px;
				text-align: center;
				vertical-align: middle;
				font-size: 25px;
				font-weight: lighter;
			}
			@each $name, $color in $social-cols {
				.fa-#{$name} {
					@include color($color, white);
					@include transition(.5s);
					&:hover {
						@include color(black, transparent);
						@include outline($color);
						@include transition(.5s);
					}
				}
			}
		}
	}
}
nav#fixed-top {
	@include paper(0.9);
	@include size(100%, 50px);
	@include color(black, white);
	font: 'Delius' bolder;
	text-align: center;
	position: fixed;
	line-height: 50px;
	z-index: 100;
}
nav#fixed-left {
	@include size(50%, 100%);
	@include color(black, white);
	position: fixed;
	//text should align as a centered list
}
nav#btns {
	@include size(100%, 75px);
	position: absolute;
	margin-top: 75px;
	justify-content: center;
	text-align: center;
	display: flex;
	z-index: 300;
}
.button {
	@include filter(brightness(0.8));
	@include general_spacing;
	@include paper(0.9);
	align-self: center;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding-right: 30px;
	padding-left: 70px;
	position: relative;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	font-family: 'Inconsolata', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: lowercase;
	letter-spacing: 1px;
	text-decoration: none;
	&:hover {
		@include animation(boom 0.5s ease);
		@include filter(none);
	}
}
.button span {
	position: absolute;
	left: 0;
	width: 50px;
	font-size:30px;
	border-right: 1px solid  rgba(0,0,0,0.15);
}
.button.github {
	@include color(map-get($social-cols, 'github'), white);
}
.button.cloud9 {
	@include color(#3385BC, white);
}
.button.linkedin {
	@include color(map-get($social-cols, 'linkedin'), white);
}

body {
	background-color: $bg-color;

	#homepage {
		@include surface(75px);
		height: 100vh;

		>header {
			@include respond-to-plus('medium') {
				@include transition(.2s);
				min-height: 175px;
			}
			@include respond-to-minus('small') {
				@include transition(.5s);
				min-height: 175px;
			}
		}
		>article {
			@include sticky(75px);
			header {
				@include size(100%, 75px);
				@include color(#3498db, white);
				@include center;
				font: 25px 'Source Code Pro';
				text-align: center;
				p { @include vertical-align; }
				span {
					@include font('Source Code Pro', 20px, bolder);
					position: absolute;
					cursor: pointer;
					font-size: 40px;
					&:hover {
						color: blue;
					}
				}
				span.left {
					left:50%;
					top: 15px;
					margin-left:-200px;
				}
				span.right {
					left:50%;
					top: 15px;
					margin-left:200px;
				}
			}

			section {
				@include transition(0.5s);
				@include shared {
					display: flex;
					justify-content: center;
					label {
						display: block;
					}
					input[type="radio"] {
						-webkit-appearance: none;
					}
				}
				@include respond-to-plus('medium') {
					width: 55%;
					height: calc(100vh - 150px);
				}
				@include respond-to-minus('small') {
					height: calc(100vh - 225px);
				}
			}
		}
	}
}

//buttons
.checkboxes{
	.check {
		@include size(9px, 18px);
		@include transform(rotate(45deg));
		display: block;
		content: '';
		margin-left:9px;
		margin-top:2px;
	}
	label.text {
		height: 38px;
		line-height: 38px;
	}
	label.box {
		@include size(38px, 38px);
		@include transition(0.25s);
		display: inline-block;
		float: left;
	  	user-select: none;
	  	border:2px solid rgba(0, 0, 0, 0.3);
	  	cursor: pointer;
	  	overflow: hidden;
	  	color: rgba(0, 0, 0, 0.1);
	  	text-align: center;
	  	&:after { @extend .check;
			border: solid rgba(0, 0, 0, 0.1);
			border-width: 0 6px 6px 0; }
	  	&:hover {
		    border:2px solid rgba(0, 0, 0, 0.5);
		    color: black;
	  	}
	  	&:active {
	    	@include transition(0);
	    	@include filter(brightness(0.8));
	  	}
	}

	input {
	    display: none;
	  	&:checked + {
	    	label.box {
	    	  color: #269b0a;
	    	}
	    	.green-background {
		     	border-color: #269b0a;
		      	background: #269b0a;
		      	&:after { @extend .check;
					 border: solid rgba(255, 255, 255, 1);
					 border-width: 0 6px 6px 0; }
	        }
	    	label.box {
	     		@include animation(boom 0.5s ease);
	    	}
	  	}
	}
}

//button.normal {
//	@include center;
//	@include font('Karabine', 25px, lighter);
//	@include general_spacing;
//	@include size(150px, 75px);
//	text-transform: uppercase;
//	cursor: pointer;
//	color: white;
//	&:hover {
//		@include color(white, #333);
//	}
//}

//.class selectors
.code-container {
	@include respond-to-minus('small') {
		code {
			height: calc(100vh - 225px);
		}
		.code-1, .code-3 {
			visibility: hidden;
		}
	}
	@include respond-to-plus('medium') {
		code {
			height: calc(100vh - 150px);
		}
		.code-1 {
			width: 33%; float: left;
		}
		.code-2 {
			width: 33%; float: right;
		}
		.code-3 {
			width: 33%; float: right;
		}
	}
	@include shared {
		@include color(black, white);
		.code-lang {
			@include size(auto, 60px);
			z-index: layer('above');
			position: absolute;
			line-height: 60px;
			opacity: .5;
			&:hover {
				color: white;
				cursor: pointer;
				opacity: 1;
			}
		}
	}
}

figure.movable {
	@include paper(0.9);
	@include noselect;
	@include transition(0.5s);
	@include filter(brightness(0.9));
	background-color: white;
	align-self: center;
	text-align: center;
	overflow: hidden;

	.fa-search {
		@include color(white, black);
		@include size(30px, 30px);
		@include transition(opacity 0.35s);
		vertical-align: middle;
		position: absolute;
		line-height: 30px;
		font-size: 20px;
		right: 0;
		opacity: 0;
	}
	figcaption {
		//@include color(white, black);
		//@include size(100%, 2em);
		//font-family: 'Source Code Pro';
		//position: absolute;
		//padding: 2px 8px;
	}
	&:hover {
		@include filter(none);
		@include transition(0.5s);
		cursor: pointer;
		.fa-search {
			//opacity: 1;
			//&:hover {
			//	@include color(green, white);
			//}
		}
		figcaption {
			@include transition(0.35s);
			@include transform(translate3d(0,-100%,0));
		}
	}
	img {
		@include size(100%, 100%);
	}
}

.rockwallfcm, .amishfurniture, .sitesbyjustin, .forbiddentruth, .clocksnthings {
	@extend figure.movable;
}

$figure-dimensions: (
	'amishfurniture': (500px, 350px),
	'clocksnthings': (450px, 250px),
	'forbiddentruth': (400px, 350px),
	'rockwallfcm': (450px, 350px),
	'sitesbyjustin': (450px, 350px)
);

@each $name, $size in $figure-dimensions {
	figure.#{$name} {
		@include size(nth($size, 1), nth($size, 2));
	}
}

.lorem-ipsum {
	color: white;
}
.hideme {
	opacity: 0;
}
.devicons {
	font-size: 40px;
}
$devicons: (
	'git': #f34f29,
	'html5': #E44D26,
	'css3': #007DC6,
	'javascript': #DCA420,
	'jquery': #116AAE,
	'sass': #CF649A,
	'atom': #5FB57D
);

@each $name, $color in $devicons {
	.devicons-#{$name}:hover {
		@include animation(boom 0.5s ease);
		color: $color;
		cursor: pointer;
	}
}
